{{define "home"}}
<style>
    :root {
        color-scheme: dark;
    }
    ul {
  list-style: none;
}

ul li::before {
  content: "\1F6CC  ... ";
}
a {
    margin-left: 5px;
}
</style>
<ul>
{{range .Path}}
<li><a href="{{.Url}}">{{.Nume}} s</a></li>
{{end}}
</ul>
{{.}}
<h2>{{.Nume}}</h2>
<ul>
{{range .Numere}}
    <li class="lista">{{.}}</li>
{{end}}
</ul>

{{end}}